:root {
  --background-color: hsl(0, 0%, 96%);
  --editor-background: hsl(60, 100%, 100%);
  --foreground-color: hsl(0, 0%, 0%);
  --primary-color: hsl(189, 100%, 63%);
  --shadow-color: hsla(0, 0%, 27%, 0.239);
  --warning-color: hsl(49, 100%, 40%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(0, 0%, 23%);
    --editor-background: hsl(0, 0%, 12%);
    --foreground-color: hsl(0, 0%, 100%);
    --shadow-color: hsl(0, 0%, 43%);
    --warning-color: hsl(49, 100%, 40%);
  }
}

body {
  background: var(--background-color);
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0 1rem;
}

.navbar {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex: 0 0 auto;
  height: 3rem;
  justify-content: space-between;
}

.nav-icon {
  text-decoration: none;
}

.nav-icon > img {
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.editor-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  margin: 1.5rem;
}

.tabs {
  align-self: flex-start;
  background: var(--editor-background);
  box-shadow: 0 0 5px var(--shadow-color);
  flex: 0 0;
}

.tabs > a,
.tabs > a:visited {
  background: transparent;
  color: var(--foreground-color);
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.tabs > a:hover,
.tabs > a:target {
  background: var(--shadow-color);
}

#editor {
  background: var(--editor-background);
  box-shadow: 0 0 5px var(--shadow-color);
  flex: 1 1 auto;
}
